<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>HealthNet Admit Patient</title>
</head>
<header class="w3-container w3-blue">
    <h1>Admit a Patient</h1>
</header>

<body>

{% include "navbar.html" %}

    <form action="/Admission_Discharge/admit/" method="post">
        {% csrf_token %}
        <div class="container">

            <br>
            Patient:
            <select name="Patient">
                {% for b in patient %}
                    <option value={{b.patient_id}}>{{b.first_name}} {{b.last_name}}</option>
                {% endfor %}
            </select>
            <br><br>
            Hospital:
            <select name="Hospital">
                {% for c in hospital %}
                    <option value={{c.id}}>{{c.name}}</option>
                {% endfor %}
            </select>

            <p><label for="id_reason">Reason for Admittance:</label>
                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <textarea cols = "30" id="id_reason" name="reason" maxlength="1000" rows="10"></textarea></p>

            <input type="submit" value="Admit Patient"/>
            <br><br>
        </div>
    </form>
</body>
</html>