<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>HealthNet Prescriptions</title>
</head>
<header class="w3-container w3-blue">
    <h1>View Prescriptions</h1>
</header>

<body>

{% include "navbar.html" %}

{% for b in obj %}
<div class="container">
        <br>
        <ul class="w3-ul w3-card-4" style="width:50%">
            <li>Patient: <br>{{patient.first_name}} {{patient.last_name}}</li>
            <li>Medication: <br> {{b.medication}}</li>
            <li>Dose: <br> {{b.dose}}</li>
            <li>Refills: <br> {{b.refill}}</li>
        </ul>
    </div>
{% endfor %}
</body>
</html>