<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Inbox</title>
</head>
<header class="w3-container w3-blue">
    <h1>SentBox</h1>
</header>
<body>
{% include "navbar.html" %}
<form action="/message/send/" method="post">
    {% csrf_token %}
    <input type="submit" value="Send New Message" />
</form>
<form action="/message/inbox/" method="post">
    {% csrf_token %}
    <input type="submit" value="Go to Inbox" />
</form>
{% for item in Messages %}
    <div class="container">
        <br>
        <ul class="w3-ul w3-card-4" style="width:50%">
        {% for person in coworker %}
            {% if person.email == item.sender %}
                From: {{person.first_name}} {{person.last_name}} ({{person.email}})<br>
            {% endif %}
        {% endfor %}
        {% for person in coworker %}
            {% if person.email == item.receiver %}
                To: {{person.first_name}} {{person.last_name}} ({{person.email}})<br>
            {% endif %}
        {% endfor %}
        {%comment%}To: {{item.receiver}}<br>{%endcomment%}
        Time: {{item.time}}<br>
        Subject: {{item.subject}}<br>
        Message: {{item.message}}<br>
            </ul></div>
{% endfor %}
<br>
</body>
</html>