<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{% include "navbar.html" %}


 <form action="/adminauth" method="post">
        {% csrf_token %}
        <div class="container">

            <br>

            <p><label for="admin username">Administrator Username:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                       {{Admin.email}} </p>




            <br><br>
        </div>
        <form action="/registration/authentication" method="post">
            <p style="text-align: left"><strong><a href="/registration/auth_success.html">Authenticate</a></strong></p>

    </form>
    </form>

</body>
</html>