
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel='shortcut icon' type='image/x-icon' href='/static/images/favicon.ico/'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">HealthNet</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/registration/dashboard">Dashboard</a></li>
        <li><a href="/calendar2/view_cal">Calendar</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Records<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="../../testResults">Tests</a></li>
            <li><a href="../../prescription">Prescriptions</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Info<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="../../impexpInfo">Export</a></li>
            <li><a href="../../impexpInfo/get_file_name">Import</a></li>
            <li><a href="../../patientTransfer">Transfer</a></li>
            <li><a href="../../Admission_Discharge">Admission Discharge</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">System<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="../../system/stats">Statistics</a></li>
            <li><a href="../../system/log">System Log</a></li>
            <li><a href="/registration/authentication">Authenticate</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Profile<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="../../message/inbox">Messages</a></li>
            <li><a href="../../editInfos/allInfo_home">View Info</a></li>
            <li><a href="../../editInfos">Edit account</a></li>
          </ul>
        </li>
        <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

</body>
</html>