<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Test Index</title>
</head>

    <body>

    {% include "navbar.html" %}

        <h1>Test Index</h1>

        {% if tests %}
            <ul>
                {% for test in tests %}
                <li>{{ test.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no tests present.</strong>
        {% endif %}

        <a href="/testResults">About</a>
    </body>
</html>